nav {
    background-color: #333;
    overflow: hidden;
    border-radius: 1vw;
    margin: 1vw;
    border: 2px solid #f0f0f0;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    text-decoration: underline;
}

.attivo{
    text-decoration: underline;
}